/* 

Color Palette
----
Primary Color: black  rgb(13, 4, 10)
Secondary Color: mauve rgb(193, 163, 158)
Accent Color: beige rgb(245, 215, 195)


Typography 
----
Headlines: font-family: 'PT Serif', serif;
Body Copy: font-family: 'Volkhov', serif;


Backgrounds
----
http://subtlepatterns.com/dark-embroidery/

*/


/* Global or Sitewide */

body {
background-image: url(../img/norwegian_rose.png)
}

/* Typography */

h1, h2 {

    font-family: 'PT Serif', serif;
    color: rgb(13, 4, 10);
        text-align: end;
    
    

        
}

p, blockquote {
    font-family: 'Volkhov', serif;
}


/* Nav */

li {
display:inline-block
}

a:link {
   color: rgb(13, 4, 10);
    font-family: 'Volkhov', serif;
}